<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Local Directory | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">


    <style>
        .requestInfo {
            padding: 10px;
            line-height: normal;
        }
        span {
            font-size: 28px;
            text-align: left;
            margin-bottom: 5px;
            margin-left: 0px;
            color: #FF5581;
        }
        .content{
            color: black;
            font-weight: 100;
        }
        h2 {
            font-size: 50px;
            font-weight: 100;
        }
        table {
            alignment: center;
            border: solid 3px black;
            margin: auto;
            width: 90%;
            font-size: 30px;
        }
        th, td {
            border: solid 3px #CACDD6;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            alignment: center;
            margin: auto;
        }
        td{
            min-width: 130px;
        }
        textarea{
            width: 90%;
            margin: 10px;
            align-self: center;
            font-size: 20px;
            height: 100px;
            border: solid #CACDD6 2px;
        }
        textarea:focus{
            border: solid #FF5581 3px;
        }
        input[type="text"] {
            width: 100%; /* 원하는 너비 설정 */
            height: auto; /* 높이값 초기화 */
            line-height : normal; /* line-height 초기화 */
            font-size: 15px;
            font-family: inherit; /* 폰트 상속 */
            border: 1px solid #999;
            border-radius: 0; /* iSO 둥근모서리 제거 */
        }


    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        

        $(document).ready(function(){
           var post_id="<%=data[0].selectpost%>";
           var array=post_id.split(",");
           console.log(array);
           var array_len=array.length;
           console.log(array_len);
           var postsArr="";
           for(var i=0; i<array_len; i++){
               console.log(array[i]);
               var posting= $.post('/findTitle', {'postid':array[i]});

               posting.done(function(post_title){
                   console.log(post_title)
                   // console.log(post_path)
                   var title=post_title["post_title"];
                   var path=post_title["post_path"];
                   console.log(path);
                   console.log(title);
                   // width:264px; height:223px position:fixed
                   postsArr+=
                       "<div class=\"col-lg-4 col-sm-6\" >" +
                       "        <div class=\"arrange-pic\">" +
                       "            <img class=\"postpic\" src=\'" + path + "'width=264px; height=223px'>" +
                       "                                    <h4>"+title+"</h4>"+
                       "        </div>"+
                       "</div>"

                   $("#selectPlace").html(postsArr)
               });


           }

        })

    </script>
</head>

<body onload="createTable()">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.html %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>


<!-- Blog Section Begin -->
<section class="blog-section spad" style="padding-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h2><b>요청정보</b></h2>
                <div class="requestInfo" id="요청정보섹션" style="border: solid #CACDD6 2px;">
                    <span><b>선택장소</b></span>
<!--                    여기에 장소이미지, 설명 들어가게? -->
                    <div class="row" id="selectPlace"></div>
                    <hr>
                    <span><b>날짜:</b></span> <span class="content"><%=data[0].date%></span><br>
                    <span><b>인원:</b></span> <span class="content"><%=data[0].people%> 명</span><br>
                    <span><b>나이:</b></span> <span class="content"><%=data[0].age%></span><br>
                    <span><b>자가용 이용:</b></span> <span class="content"><%=data[0].car%></span><br>
                    <span><b>이런 정보가 필요해요:</b></span> <span class="content"><%=data[0].yes_info%></span><br>
                    <span><b>이런 것들은 유의해 주세요:</b></span> <span class="content"><%=data[0].no_info%></span><br>
                    <span><b>추가 요구사항:</b></span> <span class="content"><%=data[0].addition%></span>


                </div>
                <br><div><h2><b>계획하기</b></h2></div>


                <!--                chg. 1번섹션. 요청 정보가 나오게-->
                <!--                <div class="blog-item" style="border: solid black 1px; background: yellow">-->
                <!--                <div class="blog-item" style="border: solid black 2px;">-->
                <!--                    <div class="blog-text">-->
                <!--                        <h2>유저의 요청 사항!!! Form 긁어오기</h2>-->

                <!--                        <div id="req_cont"></div><br>-->

                <!--                        <p> 여기는 요청 정보가 들어가는 칸!!</p>-->
                <!--                    </div>-->
                <!--                </div>-->


                <!--                chg. 2번섹션. 계획 페이지-->
                <!--                <div class="blog-item" style="border: solid black 1px; background: skyblue">-->
                <div class="blog-item" style="border: solid #CACDD6 2px;">
                    <div class="blog-text">
                        <!--                        <h2>계획 작성</h2><Br>-->

                        <!--                        계획하기!!!!-->
                        <div id="cont"></div><br>
                        <center><p>
                                <input type="button" class="primary-btn" style="font-size: 27px;padding: 12px 40px 12px;margin-bottom: 8px; margin-right: 50px; cursor: pointer;" id="addRow" value="일정 추가" onclick="addRow()" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="button" class="primary-btn" id="bt" value="계획 제출" style="font-size: 27px;padding: 12px 40px 12px;margin-bottom: 8px; margin-right: 50px; cursor: pointer;" onclick="submit_plan()" />
                            </p>
                            <!--                            <ps>저장 후에 F12 콘솔창에서 확인</p>-->
                        </center>




                        <!--                        여기부터!!!!!!!!!-->
                        <!--                        텍스트에리어에 제목들어가게...!!-->



                        <!--                        계획하기 끝!!!!-->
                        <!--                        아래 script에서 values를 DB에 저장하면 됩니다.-->




                        <!--                        <a href="#" class="primary-btn">제출</a>-->
                        <!--                        <a href="#" class="primary-btn">닫기</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
<div class="container-fluid">
    <div class="howit-bg">
        <img src="img/howit-bg.png" alt="">
    </div>
</div>



<script>
    // ARRAY FOR HEADER.
    var arrHead = new Array();
    arrHead = [ '시간', '장소', '세부사항',''];      // SIMPLY ADD OR REMOVE VALUES IN THE ARRAY FOR TABLE HEADERS.

    // FIRST CREATE A TABLE STRUCTURE BY ADDING A FEW HEADERS AND
    // ADD THE TABLE TO YOUR WEB PAGE.
    function createTable() {
        var empTable = document.createElement('table');
        empTable.setAttribute('id', 'empTable');            // SET THE TABLE ID.

        var tr = empTable.insertRow(-1);

        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th');          // TABLE HEADER.
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('cont');
        div.appendChild(empTable);    // ADD THE TABLE TO YOUR WEB PAGE.
    }

    // ADD A NEW ROW TO THE TABLE.s
    function addRow() {
        var empTab = document.getElementById('empTable');

        var rowCnt = empTab.rows.length;        // GET TABLE ROW COUNT.
        var tr = empTab.insertRow(rowCnt);      // TABLE ROW.
        tr = empTab.insertRow(rowCnt);

        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td');          // TABLE DEFINITION.
            td = tr.insertCell(c);

            if (c == 0) {           // FIRST COLUMN.

                // CREATE AND ADD TEXTBOX IN EACH CELL.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('placeholder', '09:00~10:30');

                td.appendChild(ele);
            } else if (c == 1) {

                // CREATE AND ADD TEXTBOX IN EACH CELL.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('placeholder', '아주대학교');

                td.appendChild(ele);


            } else if (c == 2) {

                var textarea1 = document.createElement("textarea");
                textarea1.setAttribute('type', 'textarea');
                textarea1.setAttribute('placeholder', '위치 및 교통 정보를 적어주세요.');
                td.appendChild(textarea1);

                var textarea2 = document.createElement("textarea");
                textarea2.setAttribute('type', 'textarea');
                textarea2.setAttribute('placeholder', '이용료/경비를 적어주세요.');
                td.appendChild(textarea2);

                var textarea3 = document.createElement("textarea");
                textarea3.setAttribute('type', 'textarea');
                textarea3.setAttribute('placeholder', '개방 시간을 적어주세요.');
                td.appendChild(textarea3);

                var textarea4 = document.createElement("textarea");
                textarea4.setAttribute('type', 'textarea');
                textarea4.setAttribute('placeholder', '복잡도를 적어주세요.');
                td.appendChild(textarea4);

                var textarea5 = document.createElement("textarea");
                textarea5.setAttribute('type', 'textarea');
                textarea5.setAttribute('placeholder', '분위기를 적어주세요.');
                td.appendChild(textarea5);

                var textarea6 = document.createElement("textarea");
                textarea6.setAttribute('type', 'textarea');
                textarea6.setAttribute('placeholder', '플래너의 추천을 적어주세요.');
                td.appendChild(textarea6);
            }

            else if(c== arrHead.length-1){
            // ADD A BUTTON.
            var button = document.createElement('img');

            // SET INPUT ATTRIBUTE.
            button.setAttribute('src', 'img/icon/x.jpg');
            button.setAttribute('width', '120');
            button.setAttribute('height', '90');
            button.setAttribute('style', 'cursor:pointer');
            button.setAttribute('onclick', 'removeRow(this)');

            td.appendChild(button);

        }
        }
    }

    // DELETE TABLE ROW.
    function removeRow(oButton) {
        var empTab = document.getElementById('empTable');
        empTab.deleteRow(oButton.parentNode.parentNode.rowIndex);       // BUTTON -> TD -> TR.
    }

    // EXTRACT AND SUBMIT TABLE DATA.
    function submit_plan() {
        var myTab = document.getElementById('empTable');
        var values = new Array();

        // LOOP THROUGH EACH ROW OF THE TABLE.
        for (row = 1; row < myTab.rows.length - 1; row++) {
            for (c = 0; c < myTab.rows[row].cells.length; c++) {   // EACH CELL IN A ROW.

                var element = myTab.rows.item(row).cells[c];
                if (element.childNodes[0].getAttribute('type') == 'text') {
                    values.push(element.childNodes[0].value );
                }
                if (element.childNodes[0].getAttribute('type') == 'textarea') {
                    values.push(element.childNodes[0].value );
                    values.push(element.childNodes[1].value );
                    values.push(element.childNodes[2].value );
                    values.push(element.childNodes[3].value );
                    values.push(element.childNodes[4].value);
                    values.push(element.childNodes[5].value );
                }
            }
        }
        // SHOW THE RESULT IN THE CONSOLE WINDOW.
        var origin_request="<%=data[0]._id%>";
        console.log(values);

        //plan.js로 감
        var posting= $.post('/addPlan', {'plan_array':values,'origin_request':origin_request});

        location.href='/';



        // console.log(values[0]);
        // console.log(values[1]);
        // console.log(values[2]);
        // console.log(values[3]);


        //    chg. 여기서 values값들을 DB에 넣어주면 됩니다.


        // 제출한 플랜 DB에서 퍼오기
    }

</script>





<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>