<!DOCTYPE html>
<html lang="zxx">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-TrueTrip</title>

    <!-- Google Font -->
    <% include head_link.html%>

    <style>

        h5{
            font-size:large;
            font-weight:bold;
            text-align: left;
            margin-left: 5px;

            color: #FF5581;

        }
        .checkPlan{
            background: #FF5581;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;
            width:50px;
            height:40px;
            font-weight: bold;
            margin-left:500px;
            padding:10px;
        }
        th{
            background:whitesmoke;
        }
        table {
            alignment: center;
            /*border: solid #CACDD6 2px;*/
            margin: auto;
            width: 90%;
            font-size: 30px;
            /*font: 20px "맑은 고딕";*/
            border: solid #CACDD6 2px;
            border-radius:5px;
        }
        th, td {
            border: solid #CACDD6 2px;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
            alignment: center;
            margin: auto;
            border-radius: 5px;
        }
        td {
            min-width: 110px;
            padding: 5px;
            text-align: unset;
            border-radius: 5px;
        }
        #reviewBtn{
            background: #FF5581;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;

            font-weight: bold;
            /*margin-left:500px;*/
            padding:10px;

        }


        textarea{
            width: 48%;
            margin: 4px;
            align-self: center;
            font-size: 13px;
            height: 100px;
            border: solid #CACDD6 2px;
            border-radius: 5px;
            background-color: rgba( 203, 193, 193, 0.25 );
        }
        input[type="text"] {
            width: 100%; /* 원하는 너비 설정 */
            height: auto; /* 높이값 초기화 */
            line-height : normal; /* line-height 초기화 */
            font-size: 15px;
            font-family: inherit; /* 폰트 상속 */
            border: 1px solid #999;
            border-radius: 5px; /* iSO 둥근모서리 제거 */
        }
        h2{
            font-size: 50px;
        }
        h5{
            font-size: 20px;
        }
        .blog-item .blog-text p {
            border-radius: 5px;
            color: black;
            font-size: 30px;
            line-height: 28px;
            letter-spacing: 0.2px;
            margin-bottom: 46px;
        }
        .blog-item{
            border-radius: 5px;
            border: solid #CACDD6 2px;
        }

        .blur_class{
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
            width: 100px;
            height: 100px;
            background-color: #ccc;
            /*position:relative;*/

        }
        #test{
           position:absolute;
            top:1000px;
            left:200px;
        }
        #req_cont{
            position:relative;
        }
        #planalert {
            font-size: 35px;
        }
        .blog-item .blog-text {
            text-align: unset;
            padding-top: 65px;
            /*border: solid #CACDD6 2px;*/
            /*border-radius: 5px;*/

        }
        #star_grade a{
            font-size: 50px;
            text-decoration: none;
            color: gray;
        }
        #star_grade a.on{
            color: gold;

        }


    </style>


</head>

<body onload="user_createTable()">

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.ejs %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>
<!-- Header End -->



<!-- Blog Section Begin -->
<section class="blog-section spad" style="padding-top: 150px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="font-weight: normal;margin-left: 6px; text-align: center; padding:35px;"><img src="img/placeholder.png" alt="" style="padding-right:20px;padding-bottom:10px;"><u><i><b><%= currentUser.name%></b></i></u><b>  님의 여행계획</b></h2>
                <div class="blog-item" >


                    <!--                    계획 들어가는 자리-->
                    <div class="blog-text">
                        <div id="req_cont"></div><br>
                        <div id="test" style="padding: 30px;">
                            <form method="" action="#">

<!--                                <textarea name = "review" form="AAA" cols="40" rows="10" style="margin: 0px; margin-bottom: 20px;" placeholder="계획을 더 보고싶다면?"></textarea>-->

                                <div id="planalert">계획을 더 보려면 100 포인트가 필요합니다.</div>
                                <br>
                                <center>
                                    <input id="morePlan" type="submit" class="primary-btn" value="계획 더보기" style="cursor:pointer;">
                                </center>
                            </form>
                        </div>
                    </div>


                    <!--                    프린트 버튼-->
                    <div align="right" style="margin-right: 50px; margin-bottom: 30px; margin-top: 20px;">
                        <img src="img/icon/print.png" style="cursor:pointer" width="40px" height="40px" onclick="print_plan()"/>
                    </div>
                    <div><center><a  id="reviewBtn">후기작성</a></center></div><br>
                    <div id="hasReview"></div>

                </div>


                <!--                    후기작성 섹션-->
<!--                <b><h2>리뷰 작성</h2></b>-->
<!--                <div class="blog-item" style="border: solid #CACDD6 2px">-->
<!--                    <div id="후기작성" style="padding: 30px;">-->
<!--&lt;!&ndash;                        <p style="font-size: 20px; color: grey">리뷰 작성시 마일리지 2포인트가 적립됩니다.</p>&ndash;&gt;-->

<!--                        &lt;!&ndash;                        chg. 여기 action 바꿔줘야함.&ndash;&gt;-->
<!--                        &lt;!&ndash;                        chg. 후기DB에 stars랑 review값 저장. 유저ID, 플래너ID, 선택장소, 날짜도 저장&ndash;&gt;-->
<!--                        &lt;!&ndash;                        chg. 계획요청DB에서 후기여부를 true로.&ndash;&gt;-->

<!--                        <form method="post" action="/main" id="AAA">-->
<!--                            만족도&nbsp;&nbsp;-->

<!--                            <select name="stars">-->
<!--                                <option value="1">1</option>-->
<!--                                <option value="2">2</option>-->
<!--                                <option value="3">3</option>-->
<!--                                <option value="4">4</option>-->
<!--                                <option value="5">5</option>-->

<!--&lt;!&ndash;                                <option value="6">6</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option value="7">7</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option value="8">8</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option value="9">9</option>&ndash;&gt;-->
<!--&lt;!&ndash;                                <option value="10" selected>10</option>&ndash;&gt;-->
<!--                            </select>점 / 5 점-->

<!--                            <br>-->

<!--                            <textarea name = "review" form="AAA" cols="40" rows="10" style="margin: 0px; margin-bottom: 20px;" placeholder="이런 점이 좋았고 이런 점이 보완이 필요해요."></textarea>-->
<!--                            <br>-->
<!--                            <center>-->
<!--                                <input id="submit" type="submit" class="primary-btn" value="확인">-->
<!--                            </center>-->
<!--                        </form>-->
<!--&lt;!&ndash;                        <br>&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="reviewModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="font-size: xx-large" class="modal-title" align="left">계획이 마음에 드시나요?</h4>
                <button type="button" class="close" data-dismiss="modal">X</button>
            </div>

            <!--                모달 바디-->
            <div class="modal-body">
                <center><p>플래너 이용 후기를 남겨주세요!</p>
                    <p id="star_grade">
                        <a href="#" value="1">★</a>
                        <a href="#" value="2">★</a>
                        <a href="#" value="3">★</a>
                        <a href="#" value="4">★</a>
                        <a href="#" value="5">★</a>
                    </p>
<!--                    <select name="stars">-->
<!--                        <option value="1">1</option>-->
<!--                        <option value="2">2</option>-->
<!--                        <option value="3">3</option>-->
<!--                        <option value="4">4</option>-->
<!--                        <option value="5">5</option>-->
<!--                    </select>-->
                        <textarea style="height: 130px; width: 100%; font-size: 18px;"
                                          name="review"
                                          placeholder="이런 점이 좋았고, 이런 점은 보완이 필요해요."></textarea><br>
                </center>
            </div>
            <!--                모달 바디-->
            <div class="modal-footer">
                <button type="button" style="border: solid grey 2px;" class="btn btn-default"
                        id="submit" data-dismiss="modal">확인
                </button>
                <button type="button" id="toMain" style="border: solid grey 2px;" class="btn btn-default"
                        data-dismiss="modal">메인으로
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Blog Section End -->
<div class="container-fluid">
    <div class="howit-bg">
        <img src="img/howit-bg.png" alt="">
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

    var schedule="<%=data[0].plan%>";
    var array=schedule.split(",");
    var length=array.length;


    console.log(schedule);
    console.log(array);
    console.log(array.length);

    var row_num=length/8;
    console.log(row_num);




    // ARRAY FOR HEADER.
    var arrHead = new Array();
    arrHead = ['시간', '장소', '세부사항'];      // SIMPLY ADD OR REMOVE VALUES IN THE ARRAY FOR TABLE HEADERS.


    // chg. DB대신 테스트할 더미 데이터. 나중에 push 중간에 들어가는 부분들만 DB값으로 교체.
    // chg. 지금은 한 row만 했는데, 실제로는 row 수만큼 push 해야됨
    // chg. DB에서 읽은 column의 길이(DBarrayLen)를 8로 나눠서 howManyRows에 대입
    // chg. DBarrayLen도 동일함.
    var DBarrayLen = 24;
    var howManyRows=row_num;
    var values = array;
    var cursor = 0;


    var schedule_id="<%=data[0]._id%>";
    var planner="<%=data[0].planner%>";
    var traveler="<%=data[0].traveler%>";
    var origin_req="<%=data[0].originRequest%>";


    // chg. 이런 느낌으로
    for(var i=0; i<length; i++){
        values.push(array[i]);
    }



    // FIRST CREATE A TABLE STRUCTURE BY ADDING A FEW HEADERS AND
    // ADD THE TABLE TO YOUR WEB PAGE.
    function user_createTable() {
        var user_Table = document.createElement('table');
        user_Table.setAttribute('id', 'user_Table');            // SET THE TABLE ID.

        var tr = user_Table.insertRow(-1);

        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th');          // TABLE HEADER.
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('req_cont');
        div.appendChild(user_Table);    // ADD THE TABLE TO YOUR WEB PAGE.


        // 로드시에 모든 계획을 다 불러오게 한다.
        fullLoad();
    }



    // 모든 계획 불러오는 함수
    function fullLoad() {

        for (var k=0; k < howManyRows; k++)
        {
            var userTab = document.getElementById('user_Table');

            var rowCnt = userTab.rows.length;        // GET TABLE ROW COUNT.
            var tr = userTab.insertRow(rowCnt);      // TABLE ROW.
            tr = userTab.insertRow(rowCnt);

            for(var i=0; i< howManyRows;i++){
                tr.id= "id"+rowCnt;
            }
            for(var j=0; j<howManyRows; j++){

                $.ajax({

                    url:'/checkConfirm',
                    dataType: 'json',
                    type:'Post',
                    data:{"schedule_id":schedule_id},
                    async:false,
                    success: function(data) {
                        if(data){
                            if(data.data[0]==null){
                                console.log("데이터 없음")
                            }
                            if(data.data[0].confirm==true){
                                if(tr.id=="id1"){
                                    tr.className="origin_class";
                                }
                                else{
                                    tr.className="origin_class";
                                }
                            }
                            else{
                                if(tr.id=="id1"){
                                    tr.className="origin_class";
                                }
                                else{
                                    tr.className="blur_class";
                                }

                            }

                        }
                    },
                    error: function(request,status,error){
                        alert(error);
                    }

                })


                // if(tr.id=="id1"){
                //     tr.className="origin_class";
                // }
                // else{
                //     tr.className="blur_class";
                // }
            }


            for (var c = 0; c < arrHead.length; c++) {
                var td = document.createElement('td');          // TABLE DEFINITION.
                td = tr.insertCell(c);
                //첫 셀
                if (c == 0) {

                    var para = document.createElement("P");
                    para.innerText = values[cursor++];
                    td.appendChild(para);
                }

                //두 번째 셀
                else if (c == 1) {

                    var para = document.createElement('P');
                    para.innerText = values[cursor++];
                    td.appendChild(para);
                }


                //세 번째 셀
                else if (c == 2) {
                    var space = "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0" +
                        "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0" +
                        "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0";

                    //텍스트 위에 들어가는 타이틀. ex) 위치, 경비...
                    var title1 = document.createElement("h5");
                    title1.innerText = "\u00A0"+"위치 / 교통" + space + "\u00A0\u00A0\u00A0\u00A0"  +"이용료 / 경비";
                    td.appendChild(title1);
                    var textarea1 = document.createElement("textarea");
                    textarea1.setAttribute('type', 'textarea');
                    textarea1.setAttribute('placeholder', '위치 및 교통 정보');
                    textarea1.innerText = values[cursor++];
                    td.appendChild(textarea1);

                    var textarea2 = document.createElement("textarea");
                    textarea2.setAttribute('type', 'textarea');
                    textarea2.setAttribute('placeholder', '이용료/경비');
                    textarea2.innerText = values[cursor++];
                    td.appendChild(textarea2);

                    var textarea3 = document.createElement("textarea");
                    var title2 = document.createElement("h5");
                    title2.innerText = "\u00A0"+"개방시간" + space + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0" + "복잡도";
                    td.appendChild(title2);
                    textarea3.setAttribute('type', 'textarea');
                    textarea3.setAttribute('placeholder', '개방시간');
                    textarea3.innerText = values[cursor++];
                    td.appendChild(textarea3);

                    var textarea4 = document.createElement("textarea");
                    // var title4 = document.createElement("h5");
                    // title4.innerText = '복잡도';
                    // td.appendChild(title4);
                    textarea4.setAttribute('type', 'textarea');
                    textarea4.setAttribute('placeholder', '복잡도');
                    textarea4.innerText = values[cursor++];
                    td.appendChild(textarea4);

                    var textarea5 = document.createElement("textarea");
                    // var title5 = document.createElement("h5");
                    // title5.innerText = '분위기';
                    // td.appendChild(title5);
                    var title3 = document.createElement("h5");
                    title3.innerText = "\u00A0" + "분위기" + space + "\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0" + "플래너의 추천";
                    td.appendChild(title3);
                    textarea5.setAttribute('type', 'textarea');
                    textarea5.setAttribute('placeholder', '분위기');
                    textarea5.innerText = values[cursor++];
                    td.appendChild(textarea5);

                    var textarea6 = document.createElement("textarea");
                    // var title6 = document.createElement("h5");
                    // title6.innerText = '플래너의 추천';
                    // td.appendChild(title6);
                    textarea6.setAttribute('type', 'textarea');
                    textarea6.setAttribute('placeholder', '플래너의 추천');
                    textarea6.innerText = values[cursor++];
                    td.appendChild(textarea6);
                }
            }
        }
    }


    function print_plan() {
        window.print();
    }

    $(document).ready(function(){

        if(howManyRows==1){
            $("#test").hide()
        }
        else{
            $("#reviewBtn").hide()
        }



        var schedule_id="<%=data[0]._id%>";
        var planner="<%=data[0].planner%>";
        var traveler="<%=data[0].traveler%>";
        var origin_req="<%=data[0].originRequest%>";

        $.ajax({

            url:'/checkConfirm',
            dataType: 'json',
            type:'Post',
            data:{"schedule_id":schedule_id},
            async:false,
            success: function(data) {
                if(data){
                    if(data.data[0]==null){
                        console.log("데이터 없음")
                    }
                    if(data.data[0].confirm==true){
                        var blur_images = $('.blur_class');
                        blur_images.each(function () {
                            console.log($(this));
                            $(this).removeClass('blur_class');
                            $(this).addClass('origin_class');
                        });
                        $("#test").hide();
                        $("#reviewBtn").show();
                    }
                    else{

                    }

                }
            },
            error: function(request,status,error){
                alert(error);
            }

        })

        $.ajax({
            url:'/reviewState',
            dataType: 'json',
            type:'Post',
            data:{"reqid":origin_req},
            async:false,
            success: function(data) {
                console.log(data);
                if(data.data==true){
                    // $("#"+i).children(".right").children(".item2").html("리뷰 보기");
                    console.log("리뷰 작성완료");
                    $("#reviewBtn").hide();
                    var postsArr="";
                    postsArr +=
                        "<div>" +
                        "                                <div style='height:150px;'class=\"item\">" +
                        "                                    <h4 style='padding:20px;font-size:x-large; font-weight:bold; text-align:center;'>리뷰를 이미 남기셨습니다.</h4>"+
                        "                                    <a class='checkPlan' href=\"/post/"+planner+"\">"+"리뷰 보러가기"+"</a>" +
                        "                                </div>" +
                        "</div>"

                    $("#hasReview").html(postsArr);
                }
                else{
                    console.log("리뷰 작성없음");
                    // $("#"+i).children(".right").children(".item2").html("리뷰 기다리는중");
                }

            },
            error: function(request,status,error){
                alert(error);
            }

        })

        // 기존 css에서 플로팅 배너 위치(top)값을 가져와 저장한다.
        var floatPosition = parseInt($("#test").css('top'))
        // 250px 이런식으로 가져오므로 여기서 숫자만 가져온다. parseInt( 값 );

        $(window).scroll(function() {
            // 현재 스크롤 위치를 가져온다.
            var scrollTop = $(window).scrollTop();
            var newvalue=floatPosition-1000;
            var newPosition = scrollTop + newvalue + "px";
             // $("#test").css('top', newPosition);
            //
            if(scrollTop<900){
                newPosition=900;
            }

            $("#test").stop().animate({
                "top" : newPosition
            }, 100);

        }).scroll();


        $("#submit").click(function(){
            var origin_id="<%=data[0].originRequest%>";
            var author="<%=data[0].traveler%>";
            var planner_id="<%=data[0].planner%>";
            // var score=$("select[name=stars]").val();
            var score = $('.on').length; // 별점클릭시 클래스 on됨. on의 갯수.
            var comment=$("textarea[name=review]").val();

            var send=$.post('/sendReview', {
                'author': author,
                'score': score,
                'comment': comment,
                'originRequest': origin_id,
                'planner_id':planner_id
            });
            alert('후기가 등록되었습니다.')
            location.href = '/main'

        })



        $("#morePlan").click(function(){
            if(confirm("주의! 포인트가 차감됩니다. 계속 진행하시겠습니까?")){

                // plan.js에 있는 /findPoint
                $.ajax({
                    url:'/findPoint',
                    dataType: 'json',
                    type:'Post',
                    data:{"schedule_id":schedule_id,'planner':planner,'traveler':traveler},
                    async:false,
                    success: function(data) {
                        if(data){
                            if(data.data[0]==null){
                                console.log("데이터 없음")
                                var blur_images = $('.blur_class');
                                blur_images.each(function () {
                                    console.log($(this));
                                    $(this).removeClass('blur_class');
                                    $(this).addClass('origin_class');
                                });
                                $("#test").hide();
                                $("#reviewBtn").show();
                            }

                        }
                    },
                    error: function(request,status,error){
                        alert(error);
                    }

                })


            }
            else{

            }


        })

        $("#reviewBtn").click(function () {
            $('#reviewModal').modal().toggle();

        })

        $("#toMain").click(function () {
            location.href = '/main'
        })

        $('#star_grade a').click(function(){
            $(this).parent().children("a").removeClass("on");  /* 별점의 on 클래스 전부 제거 */
            $(this).addClass("on").prevAll("a").addClass("on"); /* 클릭한 별과, 그 앞 까지 별점에 on 클래스 추가 */
            return false;
        });

    })

</script>





<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>