<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-TrueTrip</title>

    <!-- Google Font -->


    <!-- Css Styles -->

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <style type ="text/css">
        .checkplan{
            position:relative;
            color: #fff;
            background: #007bff;
            font-size: smaller;
            right: 38px;
            top: 41px;
            /*padding: 13px 65px;*/
            cursor: pointer;
            /*border: 1px solid #FF5581;*/
            /*padding-right: 15px; !important;*/
            /*padding-left: 15px; !important;*/
            border-radius: 5px;
            font-weight: bold;
            padding:8px;
            text-align: center;
            width:fit-content;
        }
        .acceptReq{
            position:relative;
            color: #fff;
            background: #FF5581;
            font-size: smaller;
            right: 38px;
            top: 41px;
            /*padding: 13px 65px;*/
            cursor: pointer;
            /*border: 1px solid #FF5581;*/
            /*padding-right: 15px; !important;*/
            /*padding-left: 15px; !important;*/
            border-radius: 5px;
            font-weight: bold;
            padding:8px;
            text-align: center;
            width:fit-content;
        }
        .rejectReq{
            position:relative;
            background: #062441a1;
            /*background: #007bff;*/
            font-size: smaller;
            right: 38px;
            top: 41px;
            /*padding: 13px 65px;*/
            cursor: pointer;
            /*border: 1px solid #FF5581;*/
            /*padding-right: 15px; !important;*/
            /*padding-left: 15px; !important;*/
            border-radius: 5px;
            font-weight: bold;
            padding:8px;
            text-align: center;
            width:90px;
        }
        a {
            /*color: #007bff;*/
            color: #fff;
        }
        a:hover{
            color: #007bff;
            text-decoration: underline;
        }
        h1{
            font-size:medium;
            margin-top: 15px;
            /*margin-bottom: 30px;*/
            color: white;
            font-weight: bold;
            top: 5px;
            position:relative;
        }
        h2 {
            font-weight: 200;
        }
        .BigBox{
            width:70%;
            min-height:200px;
            border: solid #CACDD6 2px;
            border-radius:5px;
            alignment: center;
            margin:auto;
            postion: absolute;
        }

        .smallBox{
            background-color: rgba( 203, 193, 193, 0.25 );
            width: 95%;
            height:200px;
            border: solid #CACDD6 1px;
            alignment: center;
            margin: auto;
            border-radius:5px;
            margin-top: 15px;
            margin-bottom: 15px;
            position: relative;
        }

        .smallBox .left{
            width: 1%;
            height: 140px;
            /*border: solid black 1px;*/
            float: left;
            margin-left:10px;
            margin-right:5px;
            margin-top: 3px;
            margin-bottom: 3px;
            text-align: center;
            padding-left:10px;
        }
        .smallBox .left .item{
            background: #FF5581;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;
            width:30px;
            height:30px;
        }

        .smallBox .middle{
            width: 70%;
            height: 140px;
            /*border: solid black 1px;*/
            float: left;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 3px;
            margin-bottom: 3px;
            text-align: left;
            padding: 15px;
            text-align: center;
        }

        .smallBox .middle .item{
            text-align: left;
            margin-left: 30px;
            font-size: 20px;
            margin-bottom: 11px;
        }

        .smallBox .right{
            font-size: 20px;
            width: 20%;
            height: 140px;
            float: left;
            margin-left:5px;
            margin-right:10px;
            margin-top: 3px;
            margin-bottom: 3px;
            text-align: -webkit-right;

        }

        .smallBox .right .item{
            width: max-content;

            position:relative;
            color: #fff;
            background: #007bff;
            font-size: smaller;
            right: 38px;
            top: 41px;
            padding: 13px 65px;
            cursor: pointer;
            /*border: 1px solid #FF5581;*/
            padding-right: 15px; !important;
            padding-left: 15px; !important;
            border-radius: 5px;
            font-weight: bold;
            padding:8px;
        }



    </style>
</head>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

<% if(data_length!=0) { %>
    $(document).ready(function(){


        var data="<%=send_data[0]._id%>";
        var data_length="<%=data_length%>";
        var req_ids=new Array();


        <% for(var i=0; i<data_length; i++) { %>
        var postid="<%=send_data[i].selectpost%>";
        var array=postid.split(",");
        var post_len=array.length;

        var request_id="<%=send_data[i]._id%>";
        var req_array=request_id.split(",");
        console.log(req_array);

        req_ids.push(req_array);
        var postsArr="";
        console.log("길이"+post_len);
        var str="";
        var test= new Array();

        //선택장소 보여줌
        for(var j=0; j<post_len;j++){

            console.log("array:"+array[j]);

            $.ajax({
                url:'/findTitle',
                dataType: 'json',
                type:'Post',
                data:{"postid":array[j]},
                async:false,
                success: function(post_title) {
                    if(post_title){
                        // alert(result.result);
                        console.log(post_title.post_title);
                        console.log("성공");
                        console.log(data_length);
                        test.push(post_title.post_title);
                        console.log(test);
                        var iii="<%=i%>"

                        str= "선택장소: "+test

                        for(var k=0; k<post_len;k++){
                            $("#"+iii).children(".middle").children().children("div[name=reservePlace]").html(str);
                        }

                    }
                },
                error: function(request,status,error){
                    alert(error);
                }

            })

        }

        <% } %>

        for(var i=0; i<data_length;i++){
            $.ajax({
                url:'/findConfirm',
                dataType: 'json',
                type:'Post',
                data:{"reqid":req_ids[i]},
                async:false,
                success: function(data) {
                    if(data.data==null){
                        console.log("계획 미작성");
                    }
                    else{
                        console.log("계획 작성 완료");
                        var string="";
                        string+=
                        "<div>" +
                        "  계획 완료 " +
                        "                     </div>"

                        $("#"+i).children(".right").children(".acceptReq").html(string);
                        $("#"+i).children(".right").children(".acceptReq").css('background-color', '#007bff');


                        $.ajax({
                            url:'/reviewState',
                            dataType: 'json',
                            type:'Post',
                            data:{"reqid":req_ids[i]},
                            async:false,
                            success: function(data) {
                                console.log(data);
                                if(data.data==true){
                                    var string="";
                                    string +=
                                        "<div>" +
                                        "                                    <a href=\"/mypage\">"+"리뷰 O"+"</a>" +
                                        "</div>"

                                    $("#"+i).children(".right").children(".rejectReq").html(string);
                                    $("#"+i).children(".right").children(".rejectReq").css('background-color', '#FFBC00');

                                    console.log("리뷰 작성완료");
                                }
                                else{
                                    console.log("리뷰 작성없음");
                                    $("#"+i).children(".right").children(".rejectReq").html("리뷰 X");
                                    $("#"+i).children(".right").children(".rejectReq").css('background-color', '#FFBC00');
                                    $("#"+i).children(".right").children(".rejectReq").css('color', '#FFF');
                                }

                            },
                            error: function(request,status,error){
                                alert(error);
                            }

                        })

                    }
                },
                error: function(request,status,error){
                    alert(error);
                }

            })

        }



        //plan.js post /sendReqID로 감
        $("a[name=accept]").click(function(){

            var id_num= $(this).parent().parent().parent().attr('id');
            id_num=id_num*1;
            console.log(req_ids[id_num]);


            var send=$.post('/sendReqID', {
                'req_id':req_ids[id_num]
            });

        })

        //request.js /reject로 감
        $("a[name=reject]").click(function(){
            //
            var select_num= $(this).parent().parent().parent().attr('id');
            select_num=select_num*1;

            console.log(req_ids[select_num]);
            console.log(typeof(req_ids[select_num]));
            $.ajax({
                url:'/reject',
                dataType: 'json',
                type:'Post',
                data:{"data":req_ids[select_num]},
                success: function(result) {
                    if(result){
                        // alert(result.result);
                       console.log("성공");
                    }
            },
                error: function(request,status,error){
                    alert(error);
                }

            })
        })

    })
<% } %>

</script>
<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.ejs %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>
<!-- Header End -->


<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!--                    나의 요청. -->
                <br><br><br>

                <div class="BigBox" id="receivedQuest">
                    <h2 style="font-weight: normal;margin-left: 6px; text-align: center; padding:35px;"><img src="img/placeholder.png" alt="" style="padding-right:20px;padding-bottom:10px;"><u><i><b><%= currentUser.name%></b></i></u><b>  님에게 요청된 플랜</b></h2>
                    <% if ( data_length==0) {  %>
                        <h5>요청이 없습니다.</h5>
                    <% } else { %>
                    <% for(var i=0; i<data_length; i++) { %>
                        <% if( send_data[i].confirm==false) { %> 
			<div class="smallBox" id="<%=i%>">
                            <div class="left">
                                <div class="item"><h1><%=i+1%></h1></div>
                            </div>

                            <div class="middle">
                                <a>
                                    <div class="item" name="reservePlanner">"<%= send_data[i].author%>" 님의 플랜 요청입니다.</div>
<!--                                    <br>-->
                                    <div class="item"name="reserveDate">여행날짜: <%= send_data[i].date %></div>
<!--                                    <br>-->
                                    <div class="item" name="reservePlace"></div>
<!--                                    <br>-->
                                    <div class="item" name="select_request" style="display:none"><%= send_data[i]._id%></div>
                                </a>
                            </div>
                            <div id="test"></div>
                            <div class="right">
                                <div class="item" style="background: gray;">거절 완료</div><br>
                            </div>
                        </div>
                        <% } else { %>

                    <div class="smallBox" id="<%=i%>">
                        <div class="left">
                            <div class="item"><h1><%=i+1%></h1></div>
                        </div>

                        <div class="middle">
                            <a>
                                <div class="item" name="reservePlanner">"<%= send_data[i].author%>" 님의 플랜 요청입니다.</div>
<!--                                <br>-->
                                <div class="item"name="reserveDate">여행날짜: <%= send_data[i].date %></div>
<!--                                <br>-->
                                <div class="item" name="reservePlace">선택장소: </div>
<!--                                <br>-->
                                <div class="item" name="select_request" style="display:none"><%= send_data[i]._id%></div>
                            </a>
                        </div>
                        <div id="test"></div>
                        <div class="right">
                            <div class="acceptReq"><a name="accept" href="/sendReqID">요청 수락</a></div><br>
                            <div class="rejectReq"><a name="reject"href="">요청 거부</a></div><br>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                    <% } %>

                </div>
                <br>

                <p id="result"></p>

<!--                <div class="BigBox" id="acceptedQuest">-->
<!--                    <h2 style="margin-left: 6px;"><b>채택된 플랜</b></h2><hr style="margin-top: 0px; margin-bottom: 0px;">-->

<!--                    <div class="smallBox">-->
<!--                        <div class="left">-->
<!--                            <div class="item"><h1>1</h1></div>-->
<!--                        </div>-->

<!--                        <div class="middle">-->
<!--                            <a href="">-->
<!--                                <div class="item" id="reservePlanner">여행자 이름: OOO</div>-->
<!--&lt;!&ndash;                                <br>&ndash;&gt;-->
<!--                                <div class="item" id="reserveDate">날짜: 2019.00.00</div>-->
<!--&lt;!&ndash;                                <br>&ndash;&gt;-->
<!--                                <div class="item" id="reservePlace">선택장소: A, B</div>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <div class="right">-->
<!--                            <div class="item">만족도<br>10 / 10</div><br>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--                <div class="row" id="showRequest"></div>-->


            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->


<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
