<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TT-TrueTrip</title>

    <!-- Google Font -->


    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <style type ="text/css">
        .checkplan{
            position:relative;
            color: #fff;
            background: #007bff;
            font-size: smaller;
            right: 38px;
            top: 41px;
            padding: 13px 65px;
            cursor: pointer;
            /*border: 1px solid #FF5581;*/
            padding-right: 15px; !important;
            padding-left: 15px; !important;
            border-radius: 5px;
            font-weight: bold;
            padding:8px;
        }
        a {
            /*color: #007bff;*/
            color: #6699f2;
        }
        a:hover{
            color: #007bff;
            text-decoration: underline;
        }
        h1{
            font-size:medium;
            margin-top: 15px;
            /*margin-bottom: 30px;*/
            color: white;
            font-weight: bold;
            top: 5px;
            position:relative;
        }
        h2 {
            font-weight: 200;
        }
        .BigBox{
            width:70%;
            min-height:200px;
            border: solid #CACDD6 2px;
            border-radius:5px;
            alignment: center;
            margin:auto;
            postion: absolute;
        }

        .smallBox{
            background-color: rgba( 203, 193, 193, 0.25 );
            width: 95%;
            height:200px;
            border: solid #CACDD6 1px;
            alignment: center;
            margin: auto;
            border-radius:5px;
            margin-top: 15px;
            margin-bottom: 15px;
            position: relative;
        }

        .smallBox .left{
            width: 1%;
            height: 140px;
            /*border: solid black 1px;*/
            float: left;
            margin-left:10px;
            margin-right:5px;
            margin-top: 3px;
            margin-bottom: 3px;
            text-align: center;
            padding-left:10px;
        }
        .smallBox .left .item{
            background: #FF5581;
            color: #FFF;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 5px;
            text-align: center;
            vertical-align: middle;
            width:30px;
            height:30px;
        }

        .smallBox .middle{
            width: 70%;
            height: 140px;
            /*border: solid black 1px;*/
            float: left;
            margin-left: 15px;
            margin-right: 5px;
            margin-top: 3px;
            margin-bottom: 3px;
            text-align: left;
            padding: 15px;
            text-align: center;
        }

        .smallBox .middle .item{
            text-align: left;
            margin-left: 30px;
            font-size: 20px;
            margin-bottom: 11px;
        }

        .smallBox .right{
            font-size: 20px;
            width: 20%;
            height: 140px;
            float: left;
            margin-left:5px;
            margin-right:10px;
            margin-top: 3px;
            margin-bottom: 3px;
            text-align: -webkit-right;

        }

        .smallBox .right .item{
            width: max-content;

            position:relative;
            color: #fff;
            background: #007bff;
            font-size: smaller;
            right: 38px;
            top: 41px;
            padding: 13px 65px;
            cursor: pointer;
            /*border: 1px solid #FF5581;*/
            padding-right: 15px; !important;
            padding-left: 15px; !important;
            border-radius: 5px;
            font-weight: bold;
            padding:8px;
        }



    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        <%if (data_length!=0) { %>
        $(document).ready(function(){


            var data_length="<%=data_length%>";
            var array=new Array();
            var postsArr="";

            <% for(var i=0; i<data_length; i++) { %>
            var postid="<%=send_data[i].selectpost%>";
            var array2=postid.split(",");
            var post_len=array2.length;

            var request_id="<%=send_data[i]._id%>";
            var req_array=request_id.split(",");
            console.log(req_array);

            // req_ids.push(req_array);
            var postsArr="";
            console.log("길이"+post_len);
            var str="";
            var test= new Array();
            //선택장소 보여줄려고 했는데 미완성
            for(var j=0; j<post_len;j++){

                console.log("array:"+array2[j]);

                $.ajax({
                    url:'/findTitle',
                    dataType: 'json',
                    type:'Post',
                    data:{"postid":array2[j]},
                    async:false,
                    success: function(post_title) {
                        if(post_title){
                            // alert(result.result);
                            console.log(post_title.post_title);
                            console.log("성공");
                            console.log(data_length);
                            test.push(post_title.post_title);
                            console.log(test);
                            var iii="<%=i%>"

                            str= "선택장소: "+test

                            for(var k=0; k<post_len;k++){
                                $("#"+iii).children(".middle").children().children("div[name=reservePlace]").html(str);
                            }

                        }
                    },
                    error: function(request,status,error){
                        alert(error);
                    }

                })
            }


            <% } %>

            <% for(var i=0; i<data_length; i++) { %>
            var req_id="<%=send_data[i]._id%>";

            array.push(req_id);
            console.log(array);
            console.log(req_id);

            <% } %>

            var plan=new Array();
            for(var i=0; i<data_length; i++){
                //div id 동적생성
                plan.push("#plan"+i);
            }
            var reviews=new Array();
            for(var i=0; i<data_length; i++){
                //div id 동적생성
                reviews.push("#reviews"+i);
            }

            // 계획 상태 확인하기
            //해당 request의 confirm이 false이면 거절된것
            //false가 아닐때 schedule done값 요청해서  true 이면 계획 작성완료된것, 아니면 대기중
            for (var j=0; j<data_length; j++){
                console.log(j);
                // console.log(plan);
                $.ajax({
                    url:'/checkReject', //request.js에 있음
                    dataType: 'json',
                    type:'Post',
                    data:{"reqid":array[j]},
                    async: false,
                    success: function(data) {
                        console.log(j);
                        console.log(data.data);

                        if(data.data[0].confirm==false){
                            // alert("대기중");
                            console.log("reject");
                            var string='<div class=\'item\' id=\'"'+plan[j]+'\' style=\'background:gray\'>거절됨</div>'
                            $(plan[j]).html(string);
                        }
                        else {
                            // alert(result.result);
                            $.ajax({
                                url:'/checkPlan', //request.js에 있음
                                dataType: 'json',
                                type:'Post',
                                data:{"reqid":array[j]},
                                async: false,
                                success: function(data) {
                                    console.log(j);
                                    console.log(data.data);

                                    if(data.data[0]==null){
                                        // alert("대기중");
                                        var string='<div class=\'item\' id=\'"'+plan[j]+'\' style=\'background:#ffbc00\'>대기중</div>'
                                        $(plan[j]).html(string);
                                    }
                                    else if(data.data[0].done==true){

                                        // alert(result.result);
                                        //버튼 생성 누르면 plan.js /viewPlan get으로 감


                                        postsArr +=
                                            "<a class='checkplan' name=\"confirmPlan\" href=\"/viewPlan\">" +
                                            "  계획 확인 " +
                                            "                     </a>"
                                        $(plan[j]).html(postsArr);
                                        postsArr="";

                                        $.ajax({
                                            url:'/reviewState',
                                            dataType: 'json',
                                            type: 'Post',
                                            data:{"reqid":array[j]},
                                            async: false,
                                            success: function(data){
                                                console.log("리뷰데이터"+data.data);



                                            },
                                            error:function(request,status,error){
                                                alert(error);
                                            }

                                        })
                                    }
                                },
                                error: function(request,status,error){
                                    alert(error);
                                }

                            })
                        }
                    },
                    error: function(request,status,error){
                        alert(error);
                    }

                })

            }

            //계획 확인하기 눌렀을 때 plan.js /viewPlan으로 데이터 post
            $("a[name=confirmPlan]").click(function(){
                var req_id="<%=send_data[0]._id%>";
                var data_length="<%=data_length%>";
                console.log(req_id);
                console.log(data_length);

                var id_num= $(this).parent().parent().parent().attr('id');
                id_num=id_num*1;
                console.log(id_num);

                var send=$.post('/viewPlan', {
                   'reqid':array[id_num]
                });


            })

        })
<% } %>

    </script>
</head>

<body>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section listings">
    <% if(isAuthenticated) { %>
        <% include header_af_login.ejs %>
    <% } else { %>
        <% include header_bf_login.html %>
    <% } %>
</header>
<!-- Header End -->


<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!--                    나의 요청. -->
                <br><br><br>
                <h2 style="font-weight: normal;margin-left: 6px; text-align: center; padding:35px;"><img src="img/placeholder.png" alt="" style="padding-right:20px;padding-bottom:10px;"><u><i><b><%= currentUser.name%></b></i></u><b>  님이 요청한 플랜</b></h2>
                <div class="BigBox">
                    <% if ( data_length==0) {  %>
                        <h5>보낸 요청이 없습니다.</h5>
                    <% } else { %>
                    <% for(var i=0; i<data_length; i++) { %>

                    <div class="smallBox" id="<%=i%>">
                        <div class="left">
                            <div class="item"><h1><%=i+1%></h1></div>
                        </div>
                        <div class="middle">
                            <a>
                                <div class="item" name="reservePlanner">"<i><%= send_data[i].planner%></i>" 플래너에게 보낸 요청입니다.</div>
<!--                                <br>-->
                                <div class="item"name="reserveDate">여행날짜: <%= send_data[i].date %></div>
<!--                                <br>-->
                                <div class="item" name="reservePlace"></div>
<!--                                <br>-->
                                <div class="item" name="select_request" style="display:none"><%= send_data[i]._id%></div>
                            </a>
                        </div>
                        <div id="test"></div>
                        <div class="right">
                            <div  id="plan<%=i%>"></div>

                            <div style="margin-left:520px;margin-bottom:20px;" id="reviews<%=i%>"></div>

                        </div>
                    </div>
                    <% } %>
                    <% } %>

                </div>



            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->



<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>